Sindhuja

In [1]:
sql_statement_que = """
select p.job_id as JobPostings,c.has_company_logo as CompanyLogo,p.fraudulent as Fraudulent from posting p
inner join Company c on c.companyID = p.companyID
"""

df = pd.read_sql_query(sql_statement_que,conn1)
sns.countplot(data = df, x='CompanyLogo',hue='Fraudulent')

import seaborn as sb

sql_statement_que = """
select count(p.job_id) as JobPostings,c.has_company_logo as CompanyLogo,p.fraudulent as Fraudulent from posting p
inner join Company c on c.companyID = p.companyID  where p.fraudulent = 1 group by c.has_company_logo,p.fraudulent
"""
#,p.fraudulent
df = pd.read_sql_query(sql_statement_que,conn1)
palette_colors = ["red", "green" ]
sb.barplot(x = df['CompanyLogo'], y = df['JobPostings'], palette = palette_colors)
plt.title("Company Logo vs Fake Posts")
plt.xlabel("Has company Logo")
plt.ylabel("Fake Posts ")
#plt.xticks(rotation=0);

import seaborn as sb

sql_statement_que = """
select count(p.job_id) as JobPostings,telecommuting,p.fraudulent as Fraudulent from posting p
where p.fraudulent = 1
group by telecommuting,p.fraudulent
"""
#,p.fraudulent
df = pd.read_sql_query(sql_statement_que,conn1)
df
palette_colors = ["red", "green" ]
sb.barplot(x = df['telecommuting'], y = df['JobPostings'], palette = palette_colors)
plt.title("Telecommuting vs Fake Job Posts")
plt.xlabel("Telecommuting")
plt.ylabel("Fake Posts")
#plt.xticks(rotation=0);

sql_statement_que = """
select p.job_id as JobPostings,telecommuting as Telecommuting,p.fraudulent as Fraudulent from posting p
"""
df = pd.read_sql_query(sql_statement_que,conn1)
sns.countplot(data = df, x='Telecommuting',hue='Fraudulent')

sql_statement_que = """
select p.job_id as JobPostings,has_questions as Questions,p.fraudulent as Fraudulent from posting p
"""
df = pd.read_sql_query(sql_statement_que,conn1)
sns.countplot(data = df, x='Questions',hue='Fraudulent')


import seaborn as sb

sql_statement_que = """
select count(p.job_id) as JobPostings,has_questions,p.fraudulent as Fraudulent from posting p
where p.fraudulent = 1
group by has_questions,p.fraudulent
"""
df = pd.read_sql_query(sql_statement_que,conn1)
df
palette_colors = ["red", "green" ]
sb.barplot(x = df['has_questions'], y = df['JobPostings'], palette = palette_colors)
plt.title("Questions vs Fake Job Posts")
plt.xlabel("Questions")
plt.ylabel("Fake Posts ")


sql_statement_que = """
select count(p.job_id) as JobPostings,fraudulent from posting p group by fraudulent
"""
df = pd.read_sql_query(sql_statement_que,conn1)
fig, axes = plt.subplots(ncols=2, figsize=(14, 4))
# plt.tight_layout()

df["JobPostings"].plot(kind='pie', ax = axes[0], labels=['Real Post', 'Fake Post'])
temp_data = df["JobPostings"]
sns.barplot(temp_data.index,temp_data, ax = axes[1])

axes[0].set_ylabel('')
axes[0].set_title('Target Distribution in Dataset', fontsize=12)

axes[1].set_ylabel('')
axes[1].set_xticklabels(["Real Post", "Fake Post"])
axes[1].set_title('Target Count in Dataset', fontsize=12)

plt.show()



def count_words(value):
    value2 = value.str.split()
    return value2.map(lambda x: len(x))

sql_statement_que = """
select c.company_profile from posting p
inner join company c on c.CompanyID = p.CompanyID where p.fraudulent=1
"""
df_fake_job_posts = pd.read_sql_query(sql_statement_que,conn1)

fig,(ax1,ax2)= plt.subplots(ncols=2, figsize=(17, 5), dpi=100)
num = count_words(df_fake_job_posts['company_profile'])
ax1.hist(num,bins = 30,color='Red')
ax1.set_title('Fake Post')

sql_statement_que = """
select c.company_profile from posting p
inner join company c on c.CompanyID = p.CompanyID where p.fraudulent=0
"""
df_real_job_posts = pd.read_sql_query(sql_statement_que,conn1)

num_real_words = count_words(df_real_job_posts['company_profile'])
ax2.hist(num_real_words, bins = 30)
ax2.set_title('Real Post')
fig.suptitle('Words in company profile')
plt.show()



df_real_job_posts

# sql_statement_que = """
# select count(p.job_id) as JobPostings,E.EmploymentType,I.IndustryName,count(p.Fraudulent) as Fraudulent from posting p
# inner join Industry I on I.industryID = p.industryID
# inner join EmploymentTypes E on E.EmploymentTypeID = p.EmploymentTypeID
# group by I.industryID,E.EmploymentTypeID,p.Fraudulent
# order by JobPostings DESC,Fraudulent
# """
# df = pd.read_sql_query(sql_statement_que,conn1)


# df


def count_words(value):
    value2 = value.str.split()
    return value2.map(lambda x: len(x))

sql_statement_que = """
select c.company_profile from posting p
inner join company c on c.CompanyID = p.CompanyID where p.fraudulent=1
"""
df_fake_job_posts = pd.read_sql_query(sql_statement_que,conn1)

fig,(ax1,ax2)= plt.subplots(ncols=2, figsize=(17, 5), dpi=100)
num = count_words(df_fake_job_posts['company_profile'])
ax1.hist(num,bins = 30,color='Red')
ax1.set_title('Fake Post')

sql_statement_que = """
select c.company_profile from posting p
inner join company c on c.CompanyID = p.CompanyID where p.fraudulent=0
"""
df_real_job_posts = pd.read_sql_query(sql_statement_que,conn1)

num_real_words = count_words(df_real_job_posts['company_profile'])
ax2.hist(num_real_words, bins = 30)
ax2.set_title('Real Post')
fig.suptitle('Words in company profile')
plt.show()



sql_statement_que = """
select count(p.job_id) as JobPostings,e.EmploymentType as EmploymentType,p.fraudulent as Fraudulent from posting p
inner join EmploymentTypes e on e.EmploymentTypeId = p.EmploymentTypeId  where p.fraudulent = 1 group by e.EmploymentTypeId
"""
#,p.fraudulent
df = pd.read_sql_query(sql_statement_que,conn1)
sb.barplot(x = df['EmploymentType'], y = df['JobPostings'])
plt.title("EmploymentType vs Fake Posts")
plt.xlabel("EmploymentType")
plt.ylabel("Fake Posts ")



sql_statement_que = """
select count(p.job_id) as JobPostings,e.EmploymentType as EmploymentType from posting p
inner join EmploymentTypes e on e.EmploymentTypeId = p.EmploymentTypeId  group by e.EmploymentTypeId
"""
#,p.fraudulent
df = pd.read_sql_query(sql_statement_que,conn1)
sb.barplot(x = df['EmploymentType'], y = df['JobPostings'])
plt.title("Employment Type vs Job Postings")
plt.xlabel("EmploymentType")
plt.ylabel("Job Postings")

sql_statement_que = """
select count(p.job_id) as JobPostings,e.EmploymentType as EmploymentType,p.fraudulent as Fraudulent from posting p
inner join EmploymentTypes e on e.EmploymentTypeId = p.EmploymentTypeId where p.fraudulent = 1
group by e.EmploymentTypeId,p.fraudulent
"""
#,p.fraudulent
df = pd.read_sql_query(sql_statement_que,conn1)
sb.barplot(x = df['EmploymentType'], y = df['JobPostings'])
plt.title("Employment Type vs Fake Job Posts")
plt.xlabel("Employment Type")
plt.ylabel("Fake Posts ")

sql_statement_que = """
select p.job_id as JobPostings,e.EmploymentType as EmploymentType,p.fraudulent as Fraudulent from posting p
inner join EmploymentTypes e on e.EmploymentTypeId = p.EmploymentTypeId
"""
df = pd.read_sql_query(sql_statement_que,conn1)
sns.countplot(data = df, x='EmploymentType',hue='Fraudulent')

df


sql_statement_que = """
select count(p.job_id) as JobPostings,i.IndustryName as IndustryName,p.fraudulent as Fraudulent from posting p
inner join Industry i on i.IndustryId = p.IndustryId  group by i.IndustryId order by JobPostings DESC LIMIT 10
"""
#,p.fraudulent
df = pd.read_sql_query(sql_statement_que,conn1)
sb.barplot(x = df['IndustryName'], y = df['JobPostings'])
plt.title("Industry vs Job Postings")
plt.xlabel("Industry")
plt.ylabel("Job Postings")
plt.xticks(rotation=90)


sql_statement_que = """
select count(p.job_id) as JobPostings,i.IndustryName as IndustryName,p.fraudulent as Fraudulent from posting p
inner join Industry i on i.IndustryId = p.IndustryId where p.fraudulent = 1
group by i.IndustryId,p.fraudulent order by JobPostings DESC LIMIT 10
"""
df = pd.read_sql_query(sql_statement_que,conn1)
sb.barplot(x = df['IndustryName'], y = df['JobPostings'])
plt.title("Industry vs Fake Job Posts")
plt.xlabel("Industry Name")
plt.ylabel("Fake Posts ")
plt.xticks(rotation=90)


# sql_statement_que = """
# select count(p.job_id) as JobPostings,i.IndustryName as IndustryName,p.fraudulent as Fraudulent from posting p
# inner join Industry i on i.IndustryId = p.IndustryId group by IndustryName,Fraudulent
# order by JobPostings Desc LIMIT 10
# """
# df = pd.read_sql_query(sql_statement_que,conn1)
# sns.countplot(data = df, x='IndustryName',hue='Fraudulent')


sql_statement_que = """
select count(p.job_id) as JobPostings,i.IndustryName as IndustryName,p.fraudulent as Fraudulent from posting p
inner join Industry i on i.IndustryId = p.IndustryId where p.fraudulent = 0
group by i.IndustryId,p.fraudulent order by JobPostings DESC LIMIT 10
"""
df = pd.read_sql_query(sql_statement_que,conn1)
sb.barplot(x = df['IndustryName'], y = df['JobPostings'])
plt.title("Industry vs Real Job Posts")
plt.xlabel("Industry Name")
plt.ylabel("Real Posts")
plt.xticks(rotation=90)


sql_statement_que = """
select count(p.job_id) as JobPostings,function as Function from posting p
inner join function f on f.functionID = p.functionID
group by f.function order by JobPostings DESC
"""
df = pd.read_sql_query(sql_statement_que,conn1)

sb.barplot(x = df['Function'], y = df['JobPostings'])
plt.title("Function vs Job Postings")
plt.xlabel("Function")
plt.ylabel("Job Postings")
plt.xticks(rotation=90)


# sns.set(rc={'figure.figsize':(15,20)})
# sql_statement_que = """
# select count(p.job_id) as JobPostings,function as Function from posting p
# inner join function f on f.functionID = p.functionID where p.fraudulent=1
# group by f.function order by JobPostings
# """
# df = pd.read_sql_query(sql_statement_que,conn1)
# sb.barplot(x = df['Function'], y = df['JobPostings'])
# plt.title("Function vs Job Postings")
# plt.xlabel("Function")
# plt.ylabel("Job Postings")
# plt.xticks(rotation=90)


df

sql_statement_que = """
select p.job_id as JobPostings,function as Function,fraudulent as Fraudulent from posting p
inner join function f on f.functionID = p.functionID
order by JobPostings DESC
"""
sns.set(rc={'figure.figsize':(30,10)})
sns.set(font_scale=2)

df = pd.read_sql_query(sql_statement_que,conn1)
sns.countplot(data = df, x='Function',hue='Fraudulent').set_title('Function vs Fraudulent')
plt.xticks(rotation=90)

NameError: name 'pd' is not defined

Drashti

In [2]:
sql_statement_eda = """
select
CASE e.EmploymentType
        WHEN '' THEN 'Unknown'
        ELSE e.EmploymentType
    END EmploymentType,
    count(p.job_id) from EmploymentTypes e
inner join Posting p
on e.EmploymentTypeId = p.EmploymentTypeId
where p.fraudulent = 1
group by EmploymentType
"""
df = pd.read_sql_query(sql_statement_eda,conn1)
df.plot.bar()
plt.show()

sql_statement_eda_exp = """
select
CASE e.Education
        WHEN '' THEN 'Unknown'
        ELSE e.Education
    END Education,
    count(p.job_id) as Total 
from Posting p left join RequiredEducation e using (RequiredEducationId)
where p.fraudulent = 1
group by Education
order by Total DESC
"""
df = pd.read_sql_query(sql_statement_eda_exp,conn1)
df.plot.bar()
plt.show()
print(df)

sql_statement_eda_exp = """
select
CASE r.RequiredExperience
        WHEN '' THEN 'Unknown'
        ELSE  r.RequiredExperienceId
    END RequiredExperience,
    count(p.job_id) from RequiredExperiences r
inner join Posting p
on r.RequiredExperienceId = p.RequiredExperienceId
where p.fraudulent = 1
group by RequiredExperience
"""
df = pd.read_sql_query(sql_statement_eda_exp,conn1)
df.plot.bar()
plt.show()

df

sql_statement_eda_exp = """
select 
    CASE r.RequiredExperience
        WHEN '' THEN 'Unknown'
        ELSE r.RequiredExperience
    END RequiredExperience,
    CASE re.Education
        WHEN '' THEN 'Unknown'
        ELSE re.Education
    END Education,
    count(p.job_id) as NumberOfJob
from Posting p left join RequiredExperiences r using (RequiredExperienceId) left join RequiredEducation re using (RequiredEducationId) 
where p.fraudulent = 1 AND re.Education = "Master's Degree"
group by Education, RequiredExperience
order by NumberOfJob DESC
"""
dfexp = pd.read_sql_query(sql_statement_eda_exp,conn1)
df.plot.bar()
plt.show()
print(dfexp)

 sql_statement_d = """
select 
    count(p.job_id) as JOB 
from Posting p  
group by fraudulent
"""
dfexp = pd.read_sql_query(sql_statement_d,conn1)
df.plot.bar()
plt.show()
print(dfexp)

sql_statement_ex = """
select 
    RequiredExperience as Experience,
    Education as Education,
    count(p.job_id) as JOB 
from Posting p left join RequiredExperiences using (RequiredExperienceId) left join RequiredEducation using (RequiredEducationId)
where p.fraudulent = 1 and RequiredExperience = 'Entry level'
group by RequiredExperience, Education
order by JOB DESC
"""
dfexper = pd.read_sql_query(sql_statement_ex,conn1)
df.plot.bar()
plt.show()
print(dfexper)

sql_statement_ex = """
select 
    Education as Education,
    count(p.job_id) as JOB 
from Posting p left join RequiredEducation using (RequiredEducationId)
where p.fraudulent = 1 
group by Education
order by JOB DESC
"""
dfexper = pd.read_sql_query(sql_statement_ex,conn1)
df.plot.bar()
plt.show()
print(dfexper)

IndentationError: unexpected indent (Temp/ipykernel_21696/451049509.py, line 73)

Multivariate

In [70]:
sql_statement_mul_1 = """
SELECT func.function, post.telecommuting, post.fraudulent, COUNT(post.fraudulent) as fraudulent_jobs
FROM Posting post INNER JOIN function func ON post.functionID = func.functionID
GROUP BY func.function, post.telecommuting, post.fraudulent
"""
df = pd.read_sql_query(sql_statement_mul_1,conn1)
# print(df)

ans_fraud = df.loc[df['fraudulent'] == 0, 'fraudulent_jobs'].sum()
# ans_tele = df.loc[df['telecommuting'] == 0, 'fraudulent_jobs'].sum()
print(ans_fraud)
# ans_tele = df.loc[df['fraudulent'] == 1, 'fraudulent_jobs'].sum()
print(ans_tele)
# pr = ans_fraud/ans_tele
# print(pr)
# sns.barplot(x = df.EmploymentType, y = df.fraudulent_jobs)
# plt.xticks(rotation = 90)
# plt.show()

17014
17113

In [72]:
functions = df['function'].unique()

In [73]:
functions

array(['', 'Accounting/Auditing', 'Administrative', 'Advertising',
       'Art/Creative', 'Business Analyst', 'Business Development',
       'Consulting', 'Customer Service', 'Data Analyst', 'Design',
       'Distribution', 'Education', 'Engineering', 'Finance',
       'Financial Analyst', 'General Business', 'Health Care Provider',
       'Human Resources', 'Information Technology', 'Legal', 'Management',
       'Manufacturing', 'Marketing', 'Other', 'Product Management',
       'Production', 'Project Management', 'Public Relations',
       'Purchasing', 'Quality Assurance', 'Research', 'Sales', 'Science',
       'Strategy/Planning', 'Supply Chain', 'Training', 'Writing/Editing'],
      dtype=object)

In [95]:
df[df['function'] == func]

            function  telecommuting  fraudulent  fraudulent_jobs
104  Writing/Editing              0           0              108
105  Writing/Editing              1           0               24

In [84]:
df.query?

In [102]:
len(df[(df['function'] == func) & (df['fraudulent'] == 1)])

0

In [112]:
func_frauds = {}
for func in functions:
    
    non_fraud_non_tele_per = df[(df['function'] == func) & (df['fraudulent'] == 0) & (df['telecommuting'] == 0)]['fraudulent_jobs']
    non_fraud_non_tele_per = non_fraud_non_tele_per/(df[(df['function'] == func) & (df['fraudulent'] == 0)]['fraudulent_jobs'].sum())
    
    fraud_tele_per = df[(df['function'] == func) & (df['fraudulent'] == 1) & (df['telecommuting'] == 1)]['fraudulent_jobs']
    fraud_tele_per = fraud_tele_per/(df[(df['function'] == func) & (df['fraudulent'] == 1)]['fraudulent_jobs'].sum())
    
    if len(fraud_tele_per) == 0:
        continue
    func_frauds[func] = [non_fraud_non_tele_per.values[0], fraud_tele_per.values[0]]

In [113]:
func_frauds

{'': [0.9756456358287022, 0.05341246290801187],
 'Accounting/Auditing': [0.9836065573770492, 0.06896551724137931],
 'Administrative': [0.9765166340508806, 0.23529411764705882],
 'Customer Service': [0.9466437177280551, 0.1791044776119403],
 'Project Management': [0.9653179190751445, 0.1],
 'Sales': [0.9229152067274001, 0.07317073170731707]}

In [3]:
sql_statement_mul_1 = """
SELECT func.function, post.telecommuting, post.fraudulent, COUNT(post.fraudulent) as fraudulent_jobs
FROM Posting post INNER JOIN function func ON post.functionID = func.functionID
GROUP BY func.function, post.telecommuting, post.fraudulent
"""
df = pd.read_sql_query(sql_statement_mul_1,conn1)
# print(df)

ans_fraud = df.loc[df['fraudulent'] == 0, 'fraudulent_jobs'].sum()
# ans_tele = df.loc[df['telecommuting'] == 0, 'fraudulent_jobs'].sum()
print(ans_fraud)
# ans_tele = df.loc[df['fraudulent'] == 1, 'fraudulent_jobs'].sum()
print(ans_tele)
# pr = ans_fraud/ans_tele
# print(pr)
# sns.barplot(x = df.EmploymentType, y = df.fraudulent_jobs)
# plt.xticks(rotation = 90)
# plt.show()

functions = df['function'].unique()

functions

df[df['function'] == func]

df.query?

len(df[(df['function'] == func) & (df['fraudulent'] == 1)])

func_frauds = {}
for func in functions:
    
    non_fraud_non_tele_per = df[(df['function'] == func) & (df['fraudulent'] == 0) & (df['telecommuting'] == 0)]['fraudulent_jobs']
    non_fraud_non_tele_per = non_fraud_non_tele_per/(df[(df['function'] == func) & (df['fraudulent'] == 0)]['fraudulent_jobs'].sum())
    
    fraud_tele_per = df[(df['function'] == func) & (df['fraudulent'] == 1) & (df['telecommuting'] == 1)]['fraudulent_jobs']
    fraud_tele_per = fraud_tele_per/(df[(df['function'] == func) & (df['fraudulent'] == 1)]['fraudulent_jobs'].sum())
    
    if len(fraud_tele_per) == 0:
        continue
    func_frauds[func] = [non_fraud_non_tele_per.values[0], fraud_tele_per.values[0]]

func_frauds

NameError: name 'pd' is not defined